# cloudflare workers
/target
/dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
worker/
node_modules/
.cargo-ok

# misc
.DS_Store
*.pem
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
